body {
  background-color:#f1f1f1;
  margin-inline:50px;
}
section {
  padding-inline:10px;
}
.book-library {
  background-color:#ffffff;
}
figure {
  text-align:center;
}
.author,.title {
  text-align:left;
}
.author {
  color:#777777;
}
.price {
  width:auto;
  padding:10px;
  background-color:rgb(46,204,113);
  border-radius:5px;
  text-align:center;
  color:white;
}
h1 {
  font-weight:bolder;
  text-align:center;
}
h2 {
  font-weight:bolder;
}