body {
  background-color: #f1f1f1;
	font-family: Arial, sans-serif;
}
.book-library {
  background-color: #ffffff;
}
figure {
  text-align:center;
}
.author,.title {
  text-align:left;
}
.author {
  color:#777777;
}
.price {
  width:auto;
  padding:10px;
  background-color:rgb(46,204,113);
  border-radius:5px;
  text-align:center;
  color:white;
}
h1 {
  text-align:center;
}